.Footer {
    padding:50px;
    background-color: #F8644B;
    color: white;

    .Developer h2 {
        font-weight:600;
    }

    .Developer h3 {
        font-weight:500;
        margin-top:10px;
    }

    .Developer {
        font-size:0.8rem;
        font-weight: 500;
    }
}