* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Nav {
    z-index: 1000;
    position: sticky;
    top: 0;
}

.Navbar {
    display: flex;
    padding: 50px;
    width: 100vw;
    height: 10vh;
    background-color: #F8644B;
    justify-content: space-between;
    align-items: center;

    
    

    .Path {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center
    }

    .Text {
        color: aliceblue;
        font-size: 2.1vh
    }

    .AuthButton {
        color: #F8644B;
        font-size: 2.1vh;
        background-color: rgb(255, 254, 252);
        border-radius: 14px;
        padding: 5%;

    }
}